//ex-3
$bg-color: grey;
$f-weight: 800;
$primary-color: rgb(248, 246, 246);
$text-color: rgb(8, 8, 8);


//ex-2
.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-item {
        font-size: 18px;
        background-color: $bg-color; //ex2
        font-weight: $f-weight; //ex2
        a {
            text-decoration: none;
            &:hover{ 
                color: #ff0000 ;
            }
        }
        @include theme($light-theme: true)
    }
 }

 //ex-4

 .menu-item {
    background-color: #e7e7e7;
 }
 .menu-item-1 {
    @extend .menu-item;
    border: 1px #333333;
 }

  //ex-5
  .box-2 {
    width: 100% / 3;
    //es6
    @use '_variabiles';
  }

  //es7

  @mixin theme($light-theme: true){
    if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%)
    }
}
 